.customCursor {
  position: fixed;
  pointer-events: none;
  will-change: transform;
  transform: translate3d(-50%, -50%, 0);
  z-index: 9999;
  padding: 0.375em 0.5em;
  border-radius: 0.25em;
  background-color: var(--blue400);
  color: var(--blue950);
  line-height: 1em;
  white-space: nowrap;
  font-size: 1em;
}
